---
import Layout from "../layouts/Layout.astro";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
---

<Layout>
	<Text class="pt-12">
		<Heading>About me</Heading>
		My name is David.
		I live in Middle Europe.
		I am 19 years old.
		I like programming, gaming, maths, and the number pi (I know 32 decimal digits of pi.).
		I was a working student at <a class="text-accent underline" href="https://softwareag.com">Software<sup>AG</sup></a>. I worked there for a year. I quit to focus on school.
		I have been using Linux since around 2017/2018.
		I have been a hobby developer since around 2018/2019.

		<br /><br />
		Programing languages i know relativly well:
		<ul class="pl-10">
			<li class="tooltip tooltip-right" data-tip="Functional, jvm ecosystem, MACROS, powerfull language features. What more could you ask for">● Scala (still learning but favourite language right now)</li><br />
			<li class="tooltip tooltip-right" data-tip="No macros??, scala it is then, then i discovered that scala is a whole new beast">● F#</li><br />
			<li class="tooltip tooltip-right" data-tip="Complexity, foundation drama, realization that i don't need the performance and mainly compile times made me go to f#.">● Rust</li><br />
			<li class="tooltip tooltip-right" data-tip="Please no.">● TypeScript/JavaScript</li><br />
			<li class="tooltip tooltip-right" data-tip="Minecraft modding.">● Java</li><br />
			<li class="tooltip tooltip-right" data-tip="Better then java but also worse then scala.">● Kotlin</li><br />
		</ul><br />
		Programing languages i have used in the past or ones that i know a fair bit:
		<ul class="pl-10">
			<li class="tooltip tooltip-right" data-tip="Linux shell.">● Zsh/Bash</li><br />
			<li class="tooltip tooltip-right" data-tip="Too complex. What the fuck is a virtual constructor.">● C++</li><br />
			<li class="tooltip tooltip-right" data-tip="Java with better ecosystem and tooling. (Aspecialy if your on windows which im not.)">● C#</li><br />
			<li class="tooltip tooltip-right" data-tip="I don't need a language thats just for servers. Almost every language has ok server libraries.">● Go</li><br />
			<li class="tooltip tooltip-right" data-tip="Neovim config.">● Lua</li><br />
			<li class="tooltip tooltip-right" data-tip="The best language there is imo. Just shitty ecosystem and tooling.">● Nim</li><br />
			<li class="tooltip tooltip-right" data-tip="C replacement. I just wish it could interop with c++ as seamlesly as with c.">● Zig</li><br />
			<li class="tooltip tooltip-right" data-tip="The first programing language i learned.">● Python</li><br />
		</ul><br />
		<p class="text-sm">You can hover over a language to see my opinion of it/why i use it.</p>

		<br/><br/>
		<p class="tooltip tooltip-right" data-tip="if creating a project i default to thease">Favourite libraries and technologies:</p>
		<ul class="pl-10">
			<li class="tooltip tooltip-right" data-tip="Default db, i'm running my own redundunt cluster">● Postgres</li><br />
			<li class="tooltip tooltip-right" data-tip="Queues for days">● Rabbitmq</li><br />
			<li class="tooltip tooltip-right" data-tip="Don't ask me why not actix. I don't know">● axum (Rust)</li><br />
			<li class="tooltip tooltip-right" data-tip="Still learning the ins and outs of scala's ecosystem">● ZIO (Scala)</li><br />
			<li class="tooltip tooltip-right" data-tip="I'm not touching react if i don't have to">● Solidjs (replaced, line below)</li><br />
			<li class="tooltip tooltip-right" data-tip="Still picking a rendering library">● Scala.js</li><br />
			<li class="tooltip tooltip-right" data-tip="s3">● Minio</li><br />
			<li class="tooltip tooltip-right" data-tip="You get auth, you get auth, everybody gets auth!">● Zitadel</li><br />
		</ul>
		<br /><br />
	</Text>
</Layout>
