---
import Layout from "../layouts/Layout.astro";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
import A from "../components/A.astro";
---

<Layout>
	<Text class="pt-12">
		<Heading>Contributing</Heading>
		<Heading>Issues</Heading>
		Send a mail to &lt;user or org&gt;.&lt;repo&gt;@is.davidon.top where the
		subject is the issue title and body, well, is body<br />
		<Heading>Pull Requests</Heading>
		Send a mail using <A href="https://git-send-email.io/">git send-email</A> to &lt;user or org&gt;.&lt;repo&gt;@pr.davidon.top<br />
		
		<br /><br />Note: the . seperator between user.org can be any of thease symbols * + - / = _ | ~ .<br /><br />
		
		Your mail will go into a queue for review and then will appear on <A href="https://git.davidon.top">git.davidon.top</A>
	</Text>
</Layout>
