---
import Layout from "../layouts/Layout.astro";
import Text from "../components/Text.astro";
import Heading from "../components/Heading.astro";
import A from "../components/A.astro";
---

<Layout>
	<Text class="pt-12">
		<Heading>Contributing</Heading>
		Just use <A href="mailto:git@davidon.top">mail</A> to report issues and <A nt="true" href="https://git-send-email.io/">git send-email</A> --to=git@davidon.top to submit patches for now.<br><br>
		Im developing an <A nt="true" href="https://git.davidon.top/iomail.git">issue and mailing list management</A> software specificly for this because i couldn't find one i liked. Once thats ready ill switch to it insted of just private mail.
	</Text>
</Layout>
