---
---

<div class="z-[5] flex justify-around items-center bg-bckgl fixed top-0 h-12 w-full">
	<div>
		<img src="/img/logo-transparent.png" alt="DavidOnTop" class="max-h-10">
	</div>
	<div>
		<a href="/" class="hover:text-accent btn btn-ghost !min-h-8 h-1 px-3">Home</a>
		<a href="/about" class="hover:text-accent btn btn-ghost !min-h-8 h-1 px-3">About</a>
		<a href="/projects" class="hover:text-accent btn btn-ghost !min-h-8 h-1 px-3">Projects</a>
	</div>
	<div class="dropdown dropdown-hover dropdown-end">
		<div role="button" tabindex="-1" class="text-white btn btn-ghost !min-h-8 h-1 px-3">Contact Me</div>
		<div tabindex="-1" class="menu dropdown-content z-10 pl-10 pb-7">
			<ul tabindex="-1" class="shadow rounded-box bg-bckgl mt-1 p-1">
				<li><a href="mailto:me@davidon.top">Mail</a></li>
			</ul>
		</div>
	</div>
</div>
